#legend {
    position: absolute;
    top: 4.5em;
    right: 0.5em;
    z-index: 1000;
    background-color: rgba(255,255,255,.4);
    padding: 2px;
    font-family: inherit;
}

#legend-header {
    background-color: #f8f8f8;
    color: #444444;
    padding: 6px 10px;
    font-weight: bold;
    cursor: pointer;
}

#legend-list {
    list-style: none;
    margin: 0;
    padding: 6px 10px;
    background-color: #f8f8f8;
}

#legend-list li {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 2px 0;
}

.legend-swatch {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.layer-switcher {
    top: auto !important;
    bottom: auto !important;
    position: absolute !important;
    right: 0.5em !important;
}